# dependencies
node_modules/

# env files
.env
.env.*
!.env.example

# frontend build
frontend/dist/

# backend build (si usas dist)
backend/dist/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# build outputs
dist/
build/

# caches
.cache/
.tmp/
*.tsbuildinfo

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# coverage
coverage/